<section id="about">
	
	<h3>About myself</h3>
	
	<div class="face_lockup">
		<div class="face_img" style="background: url(/assets/img/{{ site.data.portfolio.avatar }});"></div>
		
		<div class="icon_pencil">{% include icons/icon_pencil.html %}</div>
		<div class="icon_video">{% include icons/icon_video.html %}</div>
		<div class="icon_browser">{% include icons/icon_browser.html %}</div>
		<div class="icon_mouse">{% include icons/icon_mouse.html %}</div>
		
	</div>
	
	
	<!-- Put blurb in a div incase there are >1 blurbs </!--> 
	
	<div class="blurb">
		{{ site.blurb}}
	</div>
	
	<div class="skill_lockup">
		
		{% for skill in site.data.portfolio.skills %}
		
			<div class="skill_unit">
				<div class="skill_lable">{{ skill.name }}</div>
				<div class="skill_icon skill_{{skill.value}}">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			
		{% endfor %}
		
	</div>
	

</section>