<section class="work-section">

	<h3>Work</h3>
	
	<div class="work-belt">
	
		<div class="thumb-wrap">
		
			<div class="thumb-container">
				{% for item in site.data.portfolio.projects %}
					<div class="thumb-unit" data-folder="{{item.folder}}" style="background-image: url(/assets/img/work/{{ item.folder }}/thumb.jpg);">
						<div class="thumb-overlay">
							<strong>{{item.name}}</strong>
							<div class="magnify">{% include icons/magnify.html %}</div>
						</div>
					</div>
				{% endfor %}	
			</div>
			
		</div>
		
		
		<div class="work-wrap">
		
			<div class="work-container">
			
				<div class="work-return">{% include icons/icon-back.html %}</div>
			
				<h4 class="project-tittle">Do work</h4>
				
				<div class="project-content"></div>
				
			</div>
		</div>
			
	</div>
		
		
</section>