.client-section
	position: relative

.client-belt
	width: 100%
	position: relative
	
	
// -------------------
// CLIENT UNITS	

.client-unit
	max-width: 750px
	margin: 50px auto
	text-align: center
	+display(flex)
	+justify-content(space-between)
	position: relative
	display: none
	z-index: 1
	
	&.active
		display: block
		@extend %animation-target
	
	.client-face
		display: inline-block
		
		.client-img
			border-radius: 50%
			+size(100px)
		
		.client-name
			text-transform: uppercase
			font-weight: 300
			margin-bottom: 0
			letter-spacing: 1px
			
		.client-tittle
			opacity: 0.6
			font-size: 12px
			
	.client-comment
		display: inline-block
		text-align: center
		font:
			size: 18px
			weight: 300
		line-height: 36px
		
		.quote-mark
			position: absolute
			opacity: 0.3
			z-index: -1
			
			path
				fill: $accent

				
.client-nav-mobile
	text-align: center
	display: none
	
	span
		display: inline-block
		margin-right: 10px
		+size(16px)
		border: 1px solid $bg-color-grey
		border-radius: 50%
		cursor: pointer
		
		&.active
			border: 2px solid $accent
		
// -------------------
// CLIENT CONTROLS

.client-controls
	+position(absolute, 0 0 0 0)
	z-index: 2
		
	.previous-arrow, .next-arrow
		+size(40px)
		
		svg
			+size(100%)
			
		&:hover
			opacity: 0.2
			
	.previous-arrow
		+position(absolute, 50% null null 0)
		
	.next-arrow
		+position(absolute, 50% 0 null null)

		
// -------------------
// CLIENT ICON BELT

.client-icon-belt
	max-width: 800px
	margin: 50px auto 30px
	+display(flex)
	+align-items(flex-end)
	+justify-content(space-between)
	position: relative	// Them doan nay vao la click dc icon
	z-index: 3
	
	.client-icon
		cursor: pointer
		padding-bottom: 10px
		opacity: 0.5
		
		&.active
			border-bottom: 4px solid $accent
			opacity: 1
			
			
			
// -------------------
// MEDIA

@media (max-width: 750px)
	
	.client-icon-belt
		display: none
	
	.client-nav-mobile
		display: block
		
	.client-controls
		display: none
	
	.client-belt 
		overflow-x: hidden
		
		.client-unit.active
			display: block
			position: relative
			margin-left: 0px
			left: auto
			
			
			.client-face
				display: block
				margin: 0 auto
				
			.client-comment
				display: block
				max-width: 400px
				margin: 0px auto
		
		
		
	
		
		