header
	background: url(../img/bg_header_1.jpg) center center
	height: 450px
	background-size: cover
	
	.logo
		+size(50px)
		float: left
		margin: 10px 0 0 40px
		
		path
			fill: rgba(0,0,0,0.4)
		
	nav
		float: right
		margin: 30px 40px 0 0
		
		a
			margin-left: 20px
			color: rgba(0,0,0,0.7)
			@extend %small-bold
			letter-spacing: 0.05em
				
			&:hover
				color: rgba(0,0,0,1)
				
	h1
		margin-bottom: 20px
		color: #fff
		letter-spacing: 0.1em
		clear: both
		padding-top: 110px
		
		font:
			size: 72px
			weight: 700
		text: 	
			transform: uppercase
			align: center
		
		span
			display: inline-block
			border: 10px solid white
			padding: 0.05em 0.2em
			
	.kicker
		line-height: 1
		color: white
		
		@extend %small-bold
		text-align: center
		
			
		